@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Mulish", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.travel {
    display: flex;
    align-items: center;
}

.display-flex {
    display: flex;
}

.nav-links {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1640px;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 2px solid green; */
}

.nav-item {
    margin-right: 30px;
}

.title {
    margin-left: 20px;
}

li a {
    color: rgb(255, 84, 0);
    font-size: 1.2rem;
    font-weight: 700;
}


/* banner start */
.banner {
    /* border: 2px solid green; */
    background-image: linear-gradient(180deg,
            rgba(19, 19, 24, 0.8) 0%,
            rgba(19, 19, 24, 0) 100%), url(Images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    /* max-width: 1640px; */
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    margin-top: 20px;
    /* max-width: 100%; */
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
}

.banner p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}

.travel-inputs {
    margin-top: 2rem;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    gap: 10px;
}

input,
select,
.btn {
    width: 174px;
    height: 52px;
    left: 1rem;
    border-radius: 8px;
    border: none;
    background: rgb(255, 255, 255);
    /* margin-left: 10px; */
}

input,
select,
option,
.btn {
    padding-left: 2rem;
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.btn {
    padding-right: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: white;
}

/* popular section start */
.popular {
    margin: 0 auto;
    margin-top: 5%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}

.left-popular {
    width: 40%;
}

h2 {
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}

/* .left-popular  */
p .p {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.left-popular .btn {
    margin-top: 10px;
}

.right-popular img {
    width: 100%;
}

/* destination section start */
.destination {
    margin: 0 auto;
    max-width: 90%;
    /* height: 100px; */
    margin-top: 5%;
    margin-bottom: 5%;
}

.destination-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
}

.choose-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
}

.top-img {
    display: flex;
}

.row img {
    width: 100%;
    height: 100%;
}

.row {
    height: 400px;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.choose,
.discount {
    width: 90%;
    margin: 0 auto;
}

.discount {
    margin-top: 5%;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.card {
    width: 573px;
    height: 284px;
    /* color: rgba(251, 181, 99, 0.05); */
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}

.card h4 {
    margin: 20px 0;
}

.card3 {
    margin-top: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 1.5rem;
    font-weight: 800;
}

.bold {
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    color: rgb(19, 19, 24);
}

.sky {
    background: rgba(41, 206, 246, 0.05);
}

.news-input {
    width: 393px;
    height: 52px;
    color: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.deal {
    background-image: url('Images/Group\ 39.png');
    background-size: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    border-radius: 10px;
    display: flex;
}

.deal2 {
    background-image: url('Images/Group\ 40.png');
    background-size: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    border-radius: 10px;
    display: flex;
    margin: 20px 0;
}

.left-side-deal1 {
    width: 50%;
}

.left-side-deal2 {
    width: 60%;
}

.right-side-deal1 {
    width: 36rem;
    height: 24rem;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    padding: 0 10px;
}

.left-side-deal2 {
    width: 579px;
    height: 389px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    padding: 0 10px;
    margin-left: 10px;
}

.orange {
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: 800;
}

.packages .btn {
    margin-left: 45%;
    width: 310px;
}

.perfect-place {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.perfect-place {
    margin-top: 5%;
    margin-bottom: 5%;
}

.place-description {
    width: 50%;
}

.newsletter {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.news {
    width: 50%;
}

footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.footer {
    display: flex;
}

.footer h3 {
    display: inline;
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
}

.travels {
    color: rgb(255, 84, 0);
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .nav-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .popular {
        flex-direction: column;
    }

    .left-popular {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .row {
        flex-direction: column;
        height: 100%;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .right-side-deal1,
    .left-side-deal2 {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .packages .btn {
        margin-top: -10px;
    }

    .perfect-place {
        margin: 0 auto;
        margin-left: 20px;
        flex-direction: column;
    }

    .place-description {
        width: 100%;
    }

    .perfect-place img,
    .newsletter img {
        width: 100%;
    }

    .newsletter {
        flex-direction: column;
    }

    .place-description,
    .news {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .perfect-place {
        margin: 0 auto;
        margin-left: 20px;
        flex-direction: column;
    }

    .place-description {
        width: 100%;
    }

    .perfect-place img,
    .newsletter img {
        width: 100%;
    }

    .newsletter {
        flex-direction: column;
    }

    .place-description,
    .news {
        margin-bottom: 10px;
    }

    .row2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
    }
}